body {
    background-image: url('./assets/images/header-background.png');
}

header {
    text-align: center;
    background-image: url('./assets/images/form-background.png');
    color: #000;
    padding: 10px 0;
}

